<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>BitFlip Systems Ltd | embedded systems & prototypes</title>
	<meta name="description" content="BitFlip Systems Ltd Homepage">
	<meta name="author" content="BitFlip Systems Ltd">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato" rel="stylesheet">

	<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css" />
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-min.css">
	<!--<![endif]-->
	<link rel="stylesheet" href="css/app.css">

	<link rel="icon" type="image/png" href="images/favicon.png">

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<div class="pure-g">
		<div class="pure-u-1 header">
			<img class="pure-img" src='../images/logo-blackbg.png'>
			</img>
			<div class="halfborder"></div>
		</div>
	</div>
	<div class="pure-g">
		<div class="pure-u-1 column">
			<h1>{{ .Params.heading }}</h1>
			<p>
				{{ .Content }}
				<a href="{{ .Site.BaseURL }}">
					Back to homepage
				</a>
			</p>
		</div>
	</div>
	<footer>
		<div class="pure-g">
			<div class="pure-u-1 halfborder"></div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1">
				<div class="footer-contents">
					<span>This site is property of:</span>
					<br/><br/>
					<span class="company-name">
						BitFlip Systems Ltd
					</span><br/>
					Company no. 10361781, registered in England and Wales,<br/>
					Unit 4e Enterprise Court, Farfield Park,<br/>
					Rotherham, England,<br/>
					S63 5DB
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
